<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <Sitecore.RestSharp>
      <service name="mediaframework_ooyala" type="Sitecore.RestSharp.Service.ServiceConfiguration, Sitecore.RestSharp">
        <baseUrl>https://api.ooyala.com</baseUrl>
        
        <jsonSerializer type="Sitecore.RestSharp.Serialization.JsonNetSerializer, Sitecore.RestSharp">
          <contentType>application/x-www-form-urlencoded</contentType>
        </jsonSerializer>
        
        <handlers hint="raw:AddHandler">
          <add contentType="application/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/x-json" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
          <add contentType="text/javascript" type="Sitecore.RestSharp.Serialization.JsonNetDeserializer, Sitecore.RestSharp"/>
        </handlers>

        <headers hint="raw:AddHeader">
          <header name="Content-Type" value="application/x-www-form-urlencoded"/>
        </headers>

        <tokens hint="raw:AddTokenReplacer">
          <add name="timestamp" type="Sitecore.MediaFramework.Ooyala.RestSharp.Tokens.OoyalaTimestampToken, Sitecore.MediaFramework.Ooyala"/>
        </tokens>

        <parameters hint="raw:AddParameterReplacer">
          <add name="page_token" type="Sitecore.RestSharp.Parameters.DymamicParameterReplacerWithEmptyChecking, Sitecore.RestSharp"/>
        </parameters>

        <requestProvider type="Sitecore.RestSharp.Request.RequestProvider, Sitecore.RestSharp">
          <format>Json</format>
          <requests hint="raw:AddRequest">
            <read name="read_labels" url="/v2/labels?limit=500%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_players" url="/v2/players?limit=500%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_assets" url="/v2/assets?limit=500%26where=asset_type IN ('video','channel')%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_videos" url="/v2/assets?limit=500%26include=labels,metadata%26where=asset_type='video'%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_channels" url="/v2/assets?limit=500%26include=labels,metadata%26where=asset_type='channel'%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <read name="read_asset_player" url="/v2/assets/{embedcode}/player?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_asset_labels" url="/v2/assets/{embedcode}/labels?limit=500%26api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_asset_metadata" url="/v2/assets/{embedcode}/metadata?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <read name="read_channel_lineup" url="/v2/assets/{embedcode}/lineup?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Create - - - - - - - - - - - - - - - - - - - -->
            <!-- Create label -->
            <create name="create_label" url="/v2/labels?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Create player -->
            <create name="create_player" url="/v2/players?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Create channel -->
            <create name="create_channel" url="/v2/assets?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Create/Upload video -->
            <!-- Create an asset -->
            <create name="upload_video_create" url="/v2/assets?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <!-- Get uploading URLs -->
            <read name="get_uploading_URLs" url="/v2/assets/{embedcode}/uploading_urls?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
            <!-- Mark as uploaded or failed -->
            <update name="update_video_upload_status" url="/v2/assets/{embedcode}/upload_status?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>


            <!-- Delete - - - - - - - - - - - - - - - - - - - -->
            <!-- Delete label -->
            <delete name="delete_label" url="/v2/labels/{id}?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Delete player -->
            <delete name="delete_player" url="/v2/players/{id}?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Delete channel -->
            <delete name="delete_channel" url="/v2/assets/{embedcode}?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Delete video -->
            <delete name="delete_video" url="/v2/assets/{embedcode}?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>


            <!-- Update - - - - - - - - - - - - - - - - - - - -->
            <!-- Update label -->
            <update name="update_label" url="/v2/labels/{id}?api_key={apiKey}%26expires={timestamp}%26signature={signature}" method="PATCH"/>

            <!-- Update player -->
            <update name="update_player" url="/v2/players/{id}?api_key={apiKey}%26expires={timestamp}%26signature={signature}" method="PATCH"/>

            <!-- Update channel -->
            <update name="update_channel" url="/v2/assets/{embedcode}?api_key={apiKey}%26expires={timestamp}%26signature={signature}" method="PATCH"/>
            <!-- Update channel's lineup -->
            <update name="update_channel_lineup" url="/v2/assets/{embedcode}/lineup?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Update video -->
            <update name="update_video" url="/v2/assets/{embedcode}?api_key={apiKey}%26expires={timestamp}%26signature={signature}" method="PATCH"/>

            <!-- Update labels of an asset -->
            <update name="update_labels_of_asset" url="/v2/assets/{embedcode}/labels?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Update player of an asset -->
            <update name="update_player_of_asset" url="/v2/assets/{embedcode}/player/{id}?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>

            <!-- Update metadata of an asset -->
            <update name="update_metadata_of_asset" url="/v2/assets/{embedcode}/metadata?api_key={apiKey}%26expires={timestamp}%26signature={signature}"/>
          </requests>
        </requestProvider>
      </service>
    </Sitecore.RestSharp>
  </sitecore>
</configuration>