<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="RestSharp" version="104.2.0" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.Integration.Common" version="1.0.46" targetFramework="net45" />
  <package id="Sitecore.Kernel.NoReferences" version="8.2.161221" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.MediaFramework.NoReferences" version="2.2.160927" targetFramework="net452" developmentDependency="true" />
  <package id="Sitecore.RestSharp" version="1.1.70" targetFramework="net45" />
</packages>