<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:Ooyala" type="Sitecore.MediaFramework.Commands.ImportContent,Sitecore.MediaFramework"/>
      <command name="mediaFramework:ManualCleanup:Ooyala" type="Sitecore.MediaFramework.Commands.CleanupContent,Sitecore.MediaFramework"/>
    </commands>

    <mediaFramework>
      <synchronizers>
        <add name="ooyala_video" 
             entity="Sitecore.MediaFramework.Ooyala.Entities.Video, Sitecore.MediaFramework.Ooyala" 
             templateId="{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}"
             type="Sitecore.MediaFramework.Ooyala.Synchronize.VideoSynchronizer, Sitecore.MediaFramework.Ooyala">
          <entityCreator type="Sitecore.MediaFramework.Ooyala.Synchronize.EntityCreators.VideoEntityCreator, Sitecore.MediaFramework.Ooyala"/>
          <databaseFallback type="Sitecore.MediaFramework.Ooyala.Synchronize.Fallback.VideoFallback, Sitecore.MediaFramework.Ooyala"/>
          <references hint="raw:AddReference">
            <labels type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetLabelsSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{6EF3D739-AB34-4408-9387-EAFCE837462C}</field>
            </labels>
            <player type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetPlayerSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{6619DFDB-A4A7-41FA-86EA-42CFBB6F25C4}</field>
            </player>
            <metadata type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetMetadataSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{0F5A8205-855A-4E48-857D-610EE750CBC9}</field>
            </metadata>
          </references>
        </add>

        <add name="ooyala_channel" 
             entity="Sitecore.MediaFramework.Ooyala.Entities.Channel, Sitecore.MediaFramework.Ooyala" 
             templateId="{49731DEB-A021-448F-ABC2-B9238D5A7E05}"
             type="Sitecore.MediaFramework.Ooyala.Synchronize.ChannelSynchronizer, Sitecore.MediaFramework.Ooyala">
          <entityCreator type="Sitecore.MediaFramework.Ooyala.Synchronize.EntityCreators.ChannelEntityCreator, Sitecore.MediaFramework.Ooyala"/>
          <databaseFallback type="Sitecore.MediaFramework.Ooyala.Synchronize.Fallback.ChannelFallback, Sitecore.MediaFramework.Ooyala"/>
          <references hint="raw:AddReference">
            <labels type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetLabelsSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{6EF3D739-AB34-4408-9387-EAFCE837462C}</field>
            </labels>
            <player type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetPlayerSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{6619DFDB-A4A7-41FA-86EA-42CFBB6F25C4}</field>
            </player>
            <metadata type="Sitecore.MediaFramework.Ooyala.Synchronize.References.AssetMetadataSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{0F5A8205-855A-4E48-857D-610EE750CBC9}</field>
            </metadata>
            <lineup type="Sitecore.MediaFramework.Ooyala.Synchronize.References.ChannelLineupSynchronizer, Sitecore.MediaFramework.Ooyala">
              <field>{3A79095D-E764-4DF3-A266-68A8163FF676}</field>
            </lineup>
          </references>
        </add>

        <add name="ooyala_player" 
             entity="Sitecore.MediaFramework.Ooyala.Entities.Player, Sitecore.MediaFramework.Ooyala" 
             templateId="{FA102033-8863-43C1-9B86-96A0E345B6CA}"
             type="Sitecore.MediaFramework.Ooyala.Synchronize.PlayerSynchronizer, Sitecore.MediaFramework.Ooyala">
          <entityCreator type="Sitecore.MediaFramework.Ooyala.Synchronize.EntityCreators.PlayerEntityCreator, Sitecore.MediaFramework.Ooyala"/>
          <databaseFallback type="Sitecore.MediaFramework.Ooyala.Synchronize.Fallback.PlayerFallback, Sitecore.MediaFramework.Ooyala"/>
        </add>

        <add name="ooyala_label"
             entity="Sitecore.MediaFramework.Ooyala.Entities.Label, Sitecore.MediaFramework.Ooyala" 
             templateId="{060621C8-6668-40D0-A578-53432121FEEF}"
             type="Sitecore.MediaFramework.Ooyala.Synchronize.LabelSynchronizer, Sitecore.MediaFramework.Ooyala">
          <entityCreator type="Sitecore.MediaFramework.Ooyala.Synchronize.EntityCreators.LabelEntityCreator, Sitecore.MediaFramework.Ooyala"/>
          <databaseFallback type="Sitecore.MediaFramework.Ooyala.Synchronize.Fallback.LabelFallback, Sitecore.MediaFramework.Ooyala"/>
        </add>
      </synchronizers>

      <mediaImport>
        <importExecuters>
          <add name="import_ooyala_players" type="Sitecore.MediaFramework.Ooyala.Import.PlayerCollectionImporter, Sitecore.MediaFramework.Ooyala"/>
          <add name="import_ooyala_labels" type="Sitecore.MediaFramework.Ooyala.Import.LabelCollectionImporter, Sitecore.MediaFramework.Ooyala"/>
          <add name="import_ooyala_assets" type="Sitecore.MediaFramework.Ooyala.Import.AssetCollectionImporter, Sitecore.MediaFramework.Ooyala"/>
          <add name="import_ooyala_videos" type="Sitecore.MediaFramework.Ooyala.Import.VideoCollectionImporter, Sitecore.MediaFramework.Ooyala"/>
          <add name="import_ooyala_channels" type="Sitecore.MediaFramework.Ooyala.Import.ChannelCollectionImporter, Sitecore.MediaFramework.Ooyala"/>
        </importExecuters>
      </mediaImport>

      <mediaExport>
        <exportExecuters>
          <add name="ooyala_video" templateId="{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}" type="Sitecore.MediaFramework.Ooyala.Export.VideoExporter, Sitecore.MediaFramework.Ooyala">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{F31B0620-300A-4A9C-B0A4-A90996811442}</name>
              <description>{5D827F80-6B93-4E2A-85C8-2597DCAA1E46}</description>
              <labelsList>{6EF3D739-AB34-4408-9387-EAFCE837462C}</labelsList>
              <player>{6619DFDB-A4A7-41FA-86EA-42CFBB6F25C4}</player>
              <customMetadata>{0F5A8205-855A-4E48-857D-610EE750CBC9}</customMetadata>
            </fieldsToInspect>
          </add>
          <add name="ooyala_channel" templateId="{49731DEB-A021-448F-ABC2-B9238D5A7E05}" type="Sitecore.MediaFramework.Ooyala.Export.ChannelExporter, Sitecore.MediaFramework.Ooyala">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{F31B0620-300A-4A9C-B0A4-A90996811442}</name>
              <description>{5D827F80-6B93-4E2A-85C8-2597DCAA1E46}</description>
              <labelsList>{6EF3D739-AB34-4408-9387-EAFCE837462C}</labelsList>
              <player>{6619DFDB-A4A7-41FA-86EA-42CFBB6F25C4}</player>
              <customMetadata>{0F5A8205-855A-4E48-857D-610EE750CBC9}</customMetadata>
              <videoList>{3A79095D-E764-4DF3-A266-68A8163FF676}</videoList>
            </fieldsToInspect>
          </add>
          <add name="ooyala_label" templateId="{060621C8-6668-40D0-A578-53432121FEEF}" type="Sitecore.MediaFramework.Ooyala.Export.LabelExporter, Sitecore.MediaFramework.Ooyala">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{9CCD5EDF-1E41-4275-8113-145ECE72A8BE}</name>
            </fieldsToInspect>
          </add>
          <add name="ooyala_player" templateId="{FA102033-8863-43C1-9B86-96A0E345B6CA}" type="Sitecore.MediaFramework.Ooyala.Export.PlayerExporter, Sitecore.MediaFramework.Ooyala">
            <fieldsToInspect hint="list:AddFieldToInspect">
              <name>{C40A0145-FA84-480F-97A5-9C5B60FDE429}</name>
              <isDefault>{7F63AA22-06A4-4B33-B0C8-7E0E480B5FDD}</isDefault>
              <defaultLanguage>{90DCB055-03E2-4D7F-821B-2822200DD33D}</defaultLanguage>
              <providerHomepageUrl>{4ED75DF1-6910-43F8-AFCF-C961FA9EBE97}</providerHomepageUrl>
              
              <!-- Branding -->
              <accentColor>{C787E7B2-C8DB-46EE-B4C1-1D55E10EF064}</accentColor>
              <showInfoScreenHomepageLink>{EB6ED6C1-6697-4120-937B-D7CF564E91C5}</showInfoScreenHomepageLink>
              <showShareButton>{A5178F56-A37C-4630-A452-91AD65E14AEC}</showShareButton>
              <twitterSharing>{DBF61CDA-B2D8-4DDC-BAF4-52A667A179F9}</twitterSharing>
              <showAdCountdown>{C03FECDB-062F-4CD3-A460-D99511F090F6}</showAdCountdown>
              <showInfoScreenTitle>{9C98AE88-4374-4C3F-B82E-2F40AD68A7D9}</showInfoScreenTitle>
              <showInfoButton>{2FEE2035-70B6-412F-ACE3-4F1DB51C727A}</showInfoButton>
              <urlSharing>{336185F0-23E0-4EA1-BF9D-8516ED0448B4}</urlSharing>
              <facebookSharing>{52467BF6-4E4A-494C-8C0A-917D2676491B}</facebookSharing>
              <emailSharing>{D93974F3-FE33-41C5-8E74-7FAD1FBEFA9A}</emailSharing>
              <showInfoScreenDescription>{E2ACB175-51AA-4849-ADB0-ADD0610A8D0C}</showInfoScreenDescription>
              <showBitrateButton>{D29ED616-4F45-4ED0-8840-EA119DAF945B}</showBitrateButton>
              <diggSharing>{C28ECFE5-61D1-4F12-B6F5-D489855D4359}</diggSharing>
              <showEmbedButton>{FF8C4E39-331D-4461-A313-E0D9A7DE290E}</showEmbedButton>
              <showChannelButton>{8AC514E7-7AD7-4823-AE49-011E01FBCF07}</showChannelButton>
              <showEndScreenReplayButton>{9604E970-90B3-439E-9AA0-A87F1357994A}</showEndScreenReplayButton>
              <enableErrorScreen>{1202A817-25E7-40ED-A53B-AB0FFB5B4522}</enableErrorScreen>
              <showVolumeButton>{AD82A501-2FF8-4A88-8CE0-4C9A6F44A8F8}</showVolumeButton>
              <chromeless>{1FC61563-E41F-4BBE-B127-EBA59C04C4D3}</chromeless>

              <!-- Scrubber -->
              <alwaysShow>{3511FF3A-2BAD-4DCE-81F9-676A4C1D8B61}</alwaysShow>
              <scrubberImageUrl>{2B529FAD-1A64-4824-9550-0E74592F2FC5}</scrubberImageUrl>

              <!-- Playback -->
              <bufferOnPause>{0E47CCC4-72AD-4807-9D1A-77ADB3F16F04}</bufferOnPause>

              <!-- Watermark -->
              <watermarkImageUrl>{55131A0D-4902-4193-A3E4-982B693CFFD2}</watermarkImageUrl>
              <clickUrl>{6515C140-9473-44E3-BA5B-8F8989E4098E}</clickUrl>
              <alpha>{B8C6DF75-DFA7-44F4-8324-38263630454B}</alpha>
            </fieldsToInspect>
          </add>
        </exportExecuters>
        <uploadExecuters>
          <add name="ooyala_video" accountTemplate="{94A5527D-1B95-44C7-8DF3-D61F41379B17}" type="Sitecore.MediaFramework.Ooyala.Upload.VideoUploader, Sitecore.MediaFramework.Ooyala">
            <!-- chunkSize minimum value: 100000-->
            <chunkSize>5000000</chunkSize>
            <extensions>wmv,avi,mov,moov,mpg,mpeg,m2t,m2v,vob,flv,mp4,mpg4,mkv,asf,m4v,m2p,3gp,3g2,f4v,mp3,m4a,wma,aac</extensions>
            <postProcessingStatus>live</postProcessingStatus>
          </add>
        </uploadExecuters>
      </mediaExport>

      <mediaCleanup>
        <cleanupExecuters>
          <add name="cleanup_ooyala_players" type="Sitecore.MediaFramework.Ooyala.Cleanup.PlayersCleanupExecuter, Sitecore.MediaFramework.Ooyala">
            <indexName>mediaframework_ooyala_index</indexName>
            <importName>import_ooyala_players</importName>
            <templates hint="list:AddTemplate">
              <id>{FA102033-8863-43C1-9B86-96A0E345B6CA}</id>
            </templates>
          </add>
          <add name="cleanup_ooyala_labels" type="Sitecore.MediaFramework.Ooyala.Cleanup.LabelsCleanupExecuter, Sitecore.MediaFramework.Ooyala">
            <indexName>mediaframework_ooyala_index</indexName>
            <importName>import_ooyala_labels</importName>
            <templates hint="list:AddTemplate">
              <id>{060621C8-6668-40D0-A578-53432121FEEF}</id>
            </templates>
          </add>
          <add name="cleanup_ooyala_assets" type="Sitecore.MediaFramework.Ooyala.Cleanup.AssetsCleanupExecuter, Sitecore.MediaFramework.Ooyala">
            <indexName>mediaframework_ooyala_index</indexName>
            <importName>import_ooyala_assets</importName>
            <templates hint="list:AddTemplate">
              <id>{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}</id>
              <id>{49731DEB-A021-448F-ABC2-B9238D5A7E05}</id>
            </templates>
          </add>
        </cleanupExecuters>
        <cleanupLinks>
          <add name="ooyala_label" templateId="{060621C8-6668-40D0-A578-53432121FEEF}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
          <add name="ooyala_player" templateId="{FA102033-8863-43C1-9B86-96A0E345B6CA}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
          <add name="ooyala_video" templateId="{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}" type="Sitecore.MediaFramework.Cleanup.LinkDatabaseCleanupLinks, Sitecore.MediaFramework"/>
        </cleanupLinks>
      </mediaCleanup>

      <playerMarkupGenerators>
        <add name="ooyala_video" templateId="{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}" type="Sitecore.MediaFramework.Ooyala.Players.OoyalaPlayerMarkupGenerator,Sitecore.MediaFramework.Ooyala">
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/ooyala.js</analyticsScriptUrl>
          <scriptUrl>http://player.ooyala.com/v3/{0}?platform=html5-fallback%26namespace={1}</scriptUrl>
        </add>
        <add name="ooyala_channel" templateId="{49731DEB-A021-448F-ABC2-B9238D5A7E05}" type="Sitecore.MediaFramework.Ooyala.Players.OoyalaPlayerMarkupGenerator,Sitecore.MediaFramework.Ooyala">
          <analyticsScriptUrl>/sitecore modules/Web/MediaFramework/js/Analytics/ooyala.js</analyticsScriptUrl>
          <scriptUrl>http://player.ooyala.com/v3/{0}?platform=html5-fallback%26namespace={1}</scriptUrl>
        </add>
      </playerMarkupGenerators>

      <scopeExecuteConfigurations>
        <add name="import_ooyala_labels" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>import_ooyala_labels</name>
          </scope>
        </add>

        <add name="import_ooyala_players" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>import_ooyala_players</name>
          </scope>
        </add>

        <add name="import_ooyala_videos" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>import_ooyala_players</name>
            <name>import_ooyala_labels</name>
            <name>import_ooyala_videos</name>
          </scope>
        </add>

        <add name="import_ooyala_channels" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>import_ooyala_players</name>
            <name>import_ooyala_labels</name>
            <name>import_ooyala_videos</name>
            <name>import_ooyala_channels</name>
          </scope>
        </add>

        <add name="import_ooyala_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>import_ooyala_players</name>
            <name>import_ooyala_labels</name>
            <name>import_ooyala_videos</name>
            <name>import_ooyala_channels</name>
          </scope>
        </add>

        <add name="cleanup_ooyala_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{94A5527D-1B95-44C7-8DF3-D61F41379B17}</accountTemplate>
          <scope hint="list">
            <name>cleanup_ooyala_players</name>
            <name>cleanup_ooyala_labels</name>
            <name>cleanup_ooyala_assets</name>
          </scope>
        </add>
      </scopeExecuteConfigurations>

      <playerEventsTriggers>
        <add name="ooyala_video" templateId="{C3B8C43D-AD6B-49E2-9C6E-2FB4B53A966A}" type="Sitecore.MediaFramework.Ooyala.Analytics.VideoEventTrigger,Sitecore.MediaFramework.Ooyala" />
        <add name="ooyala_channel" templateId="{49731DEB-A021-448F-ABC2-B9238D5A7E05}" type="Sitecore.MediaFramework.Ooyala.Analytics.ChannelEventTrigger,Sitecore.MediaFramework.Ooyala" />
      </playerEventsTriggers>
    </mediaFramework>
    <scheduling>
      <agent name="MediaFramework_Import_Ooyala" type="Sitecore.MediaFramework.Schedulers.ImportScheduler, Sitecore.MediaFramework" interval="04:00:00">
        <param desc="database">master</param>
        <param desc="userName">sitecore\admin</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='import_ooyala_content'][1]"/>
        </scopeConfigurations>
      </agent>

      <agent name="MediaFramework_Cleanup_Ooyala" type="Sitecore.MediaFramework.Schedulers.CleanupScheduler, Sitecore.MediaFramework" interval="08:00:00">
        <param desc="database">master</param>
        <param desc="userName">sitecore\admin</param>
        <scopeConfigurations hint="raw:AddConfiguration">
          <add ref="mediaFramework/scopeExecuteConfigurations/*[@name='cleanup_ooyala_content'][1]"/>
        </scopeConfigurations>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
